<ion-nav-view class=""></ion-nav-view>
<ion-view view-title= {{addressDisplay}}>
  <ion-content scroll="false">
    <img id="center_pin" src="img/center_pin.svg.png">
    <div id="map" data-tap-disabled="true" style="height: 100%"></div>
    <div id="pickupBar" class="bar bar-footer bar-assertive" ng-show="!pickup && !dropoff">
      <button id="pickupFooter" class="button button-large button-full button-assertive padding" ng-click="sendCenterLocation()" style="margin: 0"> Request a car pickup</button>
    </div>
    <div id="pickupBar" class="bar bar-footer bar-assertive" ng-show="!pickup && dropoff">
      <button id="pickupFooter" class="button button-large button-full button-assertive padding" ng-click="sendCenterLocation()" style="margin: 0"> Request car return</button>
    </div>
    <div id="valetAuth" class="bar bar-subfooter"  ng-show="pickup">
      <div class="list" ng-show="pickup && !dropoff">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="input code here" ng-model="codeInput">
          </label>
          <button class="button button-small" ng-click="sendAuthCode(codeInput)">
            Submit
          </button>
        </div>
      </div>
    </div>
    <div id="valetFooter" class="bar bar-footer bar-dark row" ng-show="pickup">
      <button class="button button-light button-large col col-60 item item-avatar">
          <img src="img/valet_pickup.png">
          <h2>{{valet.name}}</h2>
          <p>Vala Agent</p>
      </button>
      <button id="call_btn" class="list item button button-positive button-large icon ion-ios-telephone">
      </button>
    </div>
 
  </ion-content>
</ion-view>