<ion-view view-title="{{addressDisplay}}">
  <ion-content data-tap-disa.led="true" scroll="false">
    <img id="center_pin" src="img/center_pin.svg.png">
    <ui-gmap-google-map 
      id="map" 
      center='map.center'
      events= 'mapConfig.events'
      zoom='map.zoom'>
      
      <ui-gmap-marker
        coords = "currentLocation.coords"
        idkey = "currentLocation.id">
      </ui-gmap-marker>

    </ui-gmap-google-map>

    <button class="button button-large button-full button-assertive" ng-click="sendCenterLocation()" style="margin: 0;"> Request a valet</button>
  </ion-content>
</ion-view>
