<ion-view view-title= {{addressDisplay}}>
  <ion-content data-tap-disabled="true" scroll="false">
    <img id="center_pin" src="img/center_pin.svg.png">
    <div id="map" style="height: 100%"></div>
    <div class="bar bar-footer bar-assertive">
      <button class="bar bar-footer button button-large button-full button-assertive padding" ng-click="sendCenterLocation()" style="margin: 0"> Request a valet</button>
    </div>
  </ion-content>
</ion-view>
<!-- <ion-footer-bar id="valetFooter" align-title="left" class="bar-dark" ng-hide="true">
  <div class="list col col-50">
    <a class="item item-avatar">
      <img src="http://placehold.it/150x150">
      <h2>James</h2>
      <p>Vala Agent</p>
    </a>
  </div>
  <button id="call_btn" class="ion-ios-telephone button button-light button-large button-block">Call</button>
</ion-footer-bar> -->

