<ion-header-bar>
</ion-header-bar>
<ion-content has-header="true">
  <div id="landing_logo" class="item item-image" >
    <img id="landing_img" src="img/landing_page.png">
    <small class="text-center"><br>Vala, on-demand parking</small>
  </div>
  <h1 class="text-center">Login</h1>
  <form class="list" ng-submit="signin()">
    <div class="list padding">
      <label class="item item-input padding">
        <span class="input-label">Email</span>
        <input type="text" ng-model="signinForm.email">
      </label>
      <label class="item item-input padding">
        <span class="input-label">Password</span>
        <input type="password" ng-model="signinForm.password">
      </label>
      <button class="button button-block button-assertive padding" type="submit">Log in</button>
    </div>
  </form>
  <div id="signupFooter" class="list padding">
    <h1 class="list padding text-center">New to Vala?</h1>
    <button ui-sref="app.signup" class="button button-block button-positive padding">Sign up</button>
    <div>
      <h3 class="text-center item item-divider">Forgot password?</h3>
    </div>
  </div>
</ion-content>
<ion-footer-bar>

</ion-footer-bar>
