<ion-nav-view>
  <ion-header-bar>
  <div bar bar-header bar-positive>
    <h1 class="title">Vala Login</h1>
  </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="signin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="signinForm.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="signinForm.password">
        </label>
        <label class="item item-input">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <h2 class="list">New to Vala?</h2>
    <label class="item item-input">
      <!--  -->
      <button ui-sref="app.signup" class="button button-block button-positive">Sign up</button>
    </label>
  </ion-content>
</ion-nav-view>
