<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Signup</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="signup()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="signupForm.first_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="signupForm.last_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone Number</span>
          <input type="text" ng-model="signupForm.phone_number">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="signupForm.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="signupForm.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Password Confirmation</span>
          <input type="password" ng-model="signupForm.password_confirmation">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Next</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
