<div class="modal" ng-hide="rating">  
  <ion-header-bar>
    <h1 class="title">Meet Your Valet, {{valet.name}}!</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <img class="item item-image" src="img/valet_pickup.png"
      style=" height: 25vh;">
      <label class="item item-input">
        <span class="input-label">Name:</span>
        <p>{{valet.name}}</p>
      </label>
      <label class="item item-input">
        <span class="input-label">Phone#:</span>
        <p>{{valet.phone}}</p>
      </label>
      <label class="item item-input">
        <span class="input-label">Valet ID:</span>
        <p>{{valet.valet_id}}</p>
      </label>
    </div>

    <button class="button button-full button-energized" ng-click="closeModal()">Got it!</button>
  </ion-content>
</div>
<div class="modal" ng-show="rating">
  <ion-header-bar>
    <h1 class="title">Please review your valets!</h1>
  </ion-header-bar>
  <ion-content>
    <!-- PICKUP VALET -->
    <div class="list" style="background-color: #353634; color:white; border-left: #ef4e3a solid 10px;">
      <img class="item item-image" src="img/valet_pickup.png" style=" height: 25vh;">
      <p class="text-center">{{pickup_valet.name}} Rating</p>
      <label class="item item-input">
        <span class="input-label">Valet ID:</span>
        <p>{{pickup_valet.valet_id}}</p>
      </label>
      <label class="item item-input item-center">
        <span class="input-label">Valet Rating:</span>
        <ion-radio name="pickup" ng-model="choice_pickup" ng-value="1">1</ion-radio>
        <ion-radio name="pickup" ng-model="choice_pickup" ng-value="2">2</ion-radio>
        <ion-radio name="pickup" ng-model="choice_pickup" ng-value="3">3</ion-radio>
        <ion-radio name="pickup" ng-model="choice_pickup" ng-value="4">4</ion-radio>
        <ion-radio name="pickup" ng-model="choice_pickup" ng-value="5">5</ion-radio>
      </label>
    </div>

    <!-- DROP OFF VALET -->
    <div class="list" style="background-color: #353634; color:white; border-left: #43cee6 solid 10px;">
      <img class="item item-image" src="img/valet_pickup.png" style=" height: 25vh;">
        <p class="text-center">{{dropoff_valet.name}} Rating</p>
      <label class="item item-input">
        <span class="input-label">Valet ID:</span>
        <p>{{pickup_valet.valet_id}}</p>
      </label>
      <label class="item item-input">
        <span class="input-label">Valet Rating:</span>
        <ion-radio name="dropoff" ng-model="choice_dropoff" ng-value="1">1</ion-radio>
        <ion-radio name="dropoff" ng-model="choice_dropoff" ng-value="2">2</ion-radio>
        <ion-radio name="dropoff" ng-model="choice_dropoff" ng-value="3">3</ion-radio>
        <ion-radio name="dropoff" ng-model="choice_dropoff" ng-value="4">4</ion-radio>
        <ion-radio name="dropoff" ng-model="choice_dropoff" ng-value="5">5</ion-radio>
      </label>
      <label class="item item-input">
        <span class="input-label">Service Tip:</span>
        <ion-radio name="tip" ng-model="tip" ng-value="0" checked>0</ion-radio>
        <ion-radio name="tip" ng-model="tip" ng-value="25">25</ion-radio>
        <ion-radio name="tip" ng-model="tip" ng-value="50">50</ion-radio>
        <ion-radio name="tip" ng-model="tip" ng-value="75">75</ion-radio>
        <ion-radio name="tip" ng-model="tip" ng-value="100">100</ion-radio>
      </label>
    </div>
    <button id="sendReview_btn" class="button button-full button-balanced" ng-click="sendReviews(choice_pickup, choice_dropoff, tip)">Send review</button>
  </ion-content>
</div>