/* Empty. Add your own CSS if you like */
.ion-navicon{
  color: #E0E3E3 !important;
}

.back-button{
  display: none !important;
}

#landing_img{
  width: 40%;
  max-width: 300px;
  top: 10vh;
  margin: 20px 20px 10px 20px;
}

div#landing_logo.item.item-image{
  margin-bottom: 50px;
  border-width: 0px;
}

#signupFooter{
  border-top: 1px solid #DDDEE8;
}

.angular-google-map-container { 
  height: 100vh; 
}

#center_pin{
  position:fixed;
  z-index: 1000;
  left:48%;
  top:49%;
}

#pickupBar{
  padding: 0px;
  height: 12vh;
}

#valetAuth{
  position: absolute;
  bottom: 12vh;
}

#valetFooter{
  height:10vh;
}

#call_btn, #pickupFooter{
  height: auto;
  font-size: 25px;
}

#call_btn{
  width:25%;
}

@font-face {
  font-family: 'Lato';
  src:  url('../fonts/lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src:  url('../fonts/lato/Lato-Regular.ttf') format('truetype');
}

body, h1, a, h3, h4{
  font-family: 'Lato', Fallback, sans-serif;
}
.ion-android-car{
  margin-right: 1.5vh;
}
.button{
  font-family: 'Lato-Regular', Fallback, sans-serif;
  font-size: 18px;
}
.button-energized{
  background-color: #FFB600 !important;
}
small{
  font-size: 18px;
}

.item.item-radio{
  width: 10%;
  float: right;

}

div.list:nth-of-type(2){
}

div.list{
  margin-bottom: 0px;
}

label.item.item-radio{
  background-color: #353634;
}

.bar.bar-header{
  background-color: #353634;
  height: 5vh;
}

.title{
  font-size: 18px !important;
  color: #FBFFFF !important;
}

.item-image{
  margin: 5vh auto 3vh;
}

p{
  font-size: 18px;
}

div.item.item-avatar{
  padding-bottom: 0px;
  border-width: 0px;
}

.button-light{
  width:75%;
}

p.ng-binding, .input-label{
  font-size: 20px;
}

#getCurrentPosition{
  position: fixed;
  bottom:13vh;
  left: 1vh;
  padding: 0px;
}

#pickupAuthInput{
  height: 10vh;
  bottom: 4vh;
  background-color: #353634;
}

#pickupAuthInput input{
  height: 6vh;
  font-size: 18px;
}