/* Empty. Add your own CSS if you like */

#landing_img{
  width: 40%;
  max-width: 300px;
  top: 10vh;
  margin: 20px 20px 10px 20px;
}

#landing_logo{
  margin-bottom: 20px
}

#signupFooter{
  border-top: 1px solid #DDDEE8;
}

.angular-google-map-container { 
  height: 100vh; 
}

#center_pin{
  position:fixed;
  z-index: 1000;
  left:49%;
  top:49%;
}

#pickupBar{
  padding: 0px;
  height: 12vh;
}

#valetAuth{
  position: absolute;
  bottom: 12vh;
}

#valetFooter{
  height:10vh;
}

#call_btn, #pickupFooter{
  height: auto;
  font-size: 30px;
}

#call_btn{
  width:40%;
}

@font-face {
  font-family: 'Lato';
  src:  url('../fonts/lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src:  url('../fonts/lato/Lato-Regular.ttf') format('truetype');
}

body, h1, a, h3, h4{
  font-family: 'Lato', Fallback, sans-serif;
}

.button{
  font-family: 'Lato-Regular', Fallback, sans-serif;
  font-size: 20px;
}

small{
  font-size: 18px;
}
